﻿@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-md-12">
        <h4>Header Content</h4>
        <div id="editorHead"></div>
    </div>
</div>
.....test tyo check----
<div class="row">
    <div class="col-md-12">
        <h4>Body Content</h4>
        <div id="editorBody"></div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h4>Footer Content</h4>
        <div id="editorFoot"></div>
    </div>
</div>
<br><br><br>

<div class="row">
    <div class="col-sm-6">
        <label class="col-sm-3 control-label">WaterMark Text </label>
        <div class="col-sm-6">
            <input id="Watermark" type="text"  class="form-control" name="Watermark"  placeholder="Please Select"   />
        </div>
    </div>
</div>
<br ></br>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <label class="checkbox-inline"><input type="checkbox" value="headFoot" id="checkHF">Header and Footer</label>
                                <label class="checkbox-inline"><input type="checkbox" value="body" id="checkB" checked disabled>Body</label>
                                <label class="checkbox-inline"><input type="checkbox" value="watermark" id="checkW">Watermark</label>
                            </div><br>

                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-lg btn-block" onClick="preview()" data-toggle="modal" data-target=".bd-example-modal-lg">Preview</button>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-md-12">
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="choice" value="Pdf" id="choicePdf" checked>
                                        <label class="form-check-label" for="exampleRadios1">
                                            PDF
                                        </label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" name="choice" value="docx" type="radio" id="choiceDocx">
                                        <label class="form-check-label" for="exampleRadios2">
                                            DOCX
                                        </label>
                                    </div>
                                </div>
                            </div><br><br>
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-lg btn-block" id="getPdf" onClick="download()">Download</button>
                            </div>
                        </div>
                    </div>
                </div>
                @*----------------------------------------------------code for popup model------------------------------------------------*@

                <div class="modal fade" id="myModal" role="dialog">
                    <div class="modal-dialog">

                        <!-- Modal content-->
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Preview</h4>
                            </div>
                            <div class="modal-body">
                                <div id="displayContent"></div>
                            </div>
                           
                            <div id="wmarkPre"></div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div>
                        </div>

                    </div>
                </div>
                @*-------------------------------------------------code for popup model ends--------------------------------------------*@
                @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.3/jspdf.debug.js" integrity="sha384-NaWTHo/8YCBYJ59830LTz/P4aQZK1sS0SneOgAvhsIl3zBu8r9RevNg5lHCHAuQ/" crossorigin="anonymous"></script>*@
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/pdfmake.min.js" integrity="sha512-gYUM+7JjtBqPPGOgwgOZ+NwjGl+11/EP124oB+ihjlBpLgP5LTh7R/Iwcdy//cgH+QzrjspBiJI5iUegTNww3w==" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.68/vfs_fonts.min.js" integrity="sha512-VIF8OqBWob/wmCvrcQs27IrQWwgr3g+iA4QQ4hH/YeuYBIoAUluiwr/NX5WQAQgUaVx39hs6l05cEOIGEB+dmA==" crossorigin="anonymous"></script>                
                  @*<script src="~/Scripts/Documentconversion.js"></script>*@                
<script>

                    ClassicEditor
                        .create(document.querySelector('#editorHead'),
                    {
                    cloudServices: {
                        tokenUrl: 'https://74774.cke-cs.com/token/dev/0367e37ed0c77b742e7425d44aa1119c9c73ac76e9a2c105b6dd69601b0e',
                        uploadUrl: 'https://74774.cke-cs.com/easyimage/upload/'
                    }
                    })

                        .then(newEditor => {
                            editorHead = newEditor;
                        })
                        .catch(error => {
                            console.log(error);
                            console.error(error);
                        });
                    ClassicEditor
                        .create(document.querySelector('#editorBody'))

                        .then(newEditor => {
                            editorBody = newEditor;
                        })
                        .catch(error => {
                            console.error(error);
                        });
                    ClassicEditor
                       .create(document.querySelector('#editorFoot')
                       )
                        .then(newEditor => {
                            editorFoot = newEditor;
                        })
                       .catch(error => {
                           console.error(error);
                       });



                    function preview() {

                        $('#displayContent').html('');
                        $("#displayContent").append(getContent());

                        if (document.getElementById('checkW').checked) {
                            var ipPre = $('#Watermark').val();
                            $('#wmarkPre').html('');
                            var cont2 = "<p style='opacity: 0.5; color: gray; position: fixed; text-align: center;font-size:20px;'>" + ipPre + "</p>";
                            $("#wmarkPre").append(cont2);
                        } else {
                            $('#wmarkPre').html('');
                        }

                        $("#myModal").modal();
                        $('#wmark').val() = $('#Watermark').val();
                        //alert(editorHead.getData());
                        //alert(editorBody.getData());
                        //alert(editorFoot.getData());
                    }

                    function download() {
                        var el = $('<div></div>');
                        var el2 = $('<div></div>');
                        el.html(getContent());
                        console.log(el);


                        if (document.getElementById('choicePdf').checked) {
                          
                            //var doc = new jsPDF();
                            //var elementHTML = $(el).html();
                            //var specialElementHandlers = {
                            //    '#toPdf': function (element, renderer) {
                            //        return true;
                            //    }
                            //};
                            //doc.fromHTML(elementHTML, 15, 15, {
                            //    'width': 170,
                            //    'elementHandlers': specialElementHandlers
                            //});
                            //if (document.getElementById('checkW').checked) {
                            //    doc = addWaterMark(doc);
                            //}

                            // Save the JSPDF 
                            ////doc.save('sample-document.pdf');
                            //-----------------------------------------------------------------------

                            

                            
                            jsonObj = [];
                            var watermarkVar = "";
                            if (document.getElementById('checkW').checked) {
                                watermarkVar = document.getElementById('Watermark').value;
                            }                           

                            if (document.getElementById('checkHF').checked) {
                                // HTML tags contain text 
                                var html1 = editorHead.getData();
                                var div1 = document.createElement("div");
                                div1.innerHTML = html1;
                                var text1 = div1.textContent || div1.innerText || "";
                                
                                item1 = {};
                                item1["text"] = text1;
                                item1["style"] = "header";
                                jsonObj.push(item1);
                            }

                            var html2 = editorBody.getData();
                            var div2 = document.createElement("div");
                            div2.innerHTML = html2;
                            var text2 = div2.textContent || div2.innerText || "";
                            jsonObj.push(text2);

                            if (document.getElementById('checkHF').checked) {
                                var html3 = editorFoot.getData();
                                var div3 = document.createElement("div");
                                div3.innerHTML = html3;
                                var text3 = div3.textContent || div3.innerText || "";

                                item3 = {};
                                item3["text"] = text3;
                                item3["style"] = "footer";
                                jsonObj.push(item3);
                            }

                            var documentDefinition = {
                                userPassword: '123',
                                ownerPassword: '123456',
                                permissions: {
                                    printing: 'highResolution', //'lowResolution'
                                    modifying: false,
                                    copying: false,
                                    annotating: true,
                                    fillingForms: true,
                                    contentAccessibility: true,
                                    documentAssembly: true
                                },
                                pageSize: 'A4',
                                watermark: { text: watermarkVar, color: 'blue', opacity: 0.3, bold: true, italics: false },
                                content: jsonObj,
                                    
                                    styles:
                                    {
                                      header:
                                      {
                                          fontSize: 18,
                                          bold: true,
                                          margin: [0, 10, 0, 10],
                                          alignment: 'center'
                                          
                                      },
                                      footer:
                                        {
                                            fontSize: 18,
                                            bold: false,
                                            margin: [5,650, 10, 0],
                                           // height:30,
                                            alignment: 'right'

                                        }
                                    }
                                };

                                pdfMake.createPdf(documentDefinition).download('testdoc.pdf');
                            


                            //--------------------------------------------------------------------



                        } else {

                        //    var x = document.getElementById("wmark").innerHTML;
                        //    console.log(x);

                            el2.html((getContent()));
                            $(el2).wordExport();
                        }
                    }

                 

                    function getContent() {
                        var result = "";
                        if (document.getElementById('checkHF').checked) {
                            result += "<center>";
                            result += editorHead.getData();
                            result += "</center>";
                        }

                        result += "<hr>";
                        result += editorBody.getData();
                        result += "<hr>";

                        if (document.getElementById('checkHF').checked) {
                            result += "<center>";
                            result += editorFoot.getData();
                            result += "</center>";
                        }

                        if (document.getElementById('checkW').checked && document.getElementById('choiceDocx').checked) {
                            var ipExp = $('#Watermark').val();
                            var cont2 = "<p style='opacity: 0.5; color: gray; position: fixed; text-align: center;font-size:20px;'>" + ipExp + "</p>";
                            //var cont2 = "<p style='position: absolute;top: 0;left: 0; color: #fff; font-size: 18px; pointer-events: none; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg);'>"+ipExp+"<p>";
                            result += cont2;
                        }

                        return result;
                    }

                    //console.log(x);

                </script>
